<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745286878699-2i72b84h2jjpvbk5d5f31hniau0rll0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745286878699-2i72b84h2jjpvbk5d5f31hniau0rll0i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>745286878699-r2gg5k2u6an685orov17u4cdq0avkkhr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDynNEtslqem4pOhb_gSKHXWaWGAgQ9gyI</string>
	<key>GCM_SENDER_ID</key>
	<string>745286878699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatterFlutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatter-flutter-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-flutter-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745286878699:ios:041c05b0f91f4b565005ae</string>
</dict>
</plist>